/* experience.css */

.exp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    background-color: #f9fafb;
    border-radius: 1rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 1.5rem;
    /* transition-all duration-200 */
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
}

.exp-container:hover {
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.exp-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.exp-img {
    /* w-40 h-40 */
    width: 10rem; /* 160px */
    height: 10rem; /* 160px */
    /* object-contain */
    object-fit: contain;
    /* rounded-xl */
    border-radius: 0.75rem;
    /* shadow-md */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.exp-txt-wrapper {
    width: 100%;       /* 100% for mobile | 80% for desktop (below) */
    margin-left: 0; 
    padding-left: 0;
}

.exp-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: #4f46e5;
    margin-bottom: 0.5rem;
}

.exp-description {
    color: #374151;
    margin-bottom: 1rem;
}

.exp-tags {
    margin-top: 1rem; /* mt-4 */
    display: flex; /* flex */
    flex-wrap: wrap; /* flex-wrap */
    gap: 0.5rem; /* gap-2 */
}

.exp-tag {
    background-color: #e5e7eb; /* bg-gray-200 */
    color: #111827; /* text-gray-900 */
    font-size: 0.875rem; /* text-sm */
    line-height: 1.25rem;
    font-weight: 500; /* font-medium */
    padding-left: 0.5rem; /* px-2 */
    padding-right: 0.5rem;
    padding-top: 0.25rem; /* py-1 */
    padding-bottom: 0.25rem;
    border-radius: 0.375rem; /* rounded-md */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); /* shadow-sm */
}

.exp-bulletpoints {
    margin-top: 1rem; /* mt-4 */
    display: flex; /* flex */
    flex-wrap: wrap; /* flex-wrap */
    gap: 0.5rem; /* gap-2 */
}


/* Medium (md) Breakpoint (768px and up) */
@media (min-width: 768px) {
    .exp-img-wrapper {
        width: 20%;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .exp-txt-wrapper {
        width: 80%;    /* Return to 80% only when the screen is wide enough for two columns */
        margin-left: 0.1rem; /* Increased this from 0.1rem to create better separation from the logo */
        padding-left: 0; 
    }
}

/* Small (sm) Breakpoint () */
@media (min-width: 768px) {
}
