:root { font-family: 'Inter', sans-serif; }

#header-nav {
    transition: padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
                background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    position: fixed;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#header-nav.scrolled {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
#mobile-menu {
    top: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out;
    border-top-width: 0px;
}
#mobile-menu.open {
    max-height: 50vh;
    border-top-width: 1px;
}
#header-nav h2, #header-nav a, #intro-text, #name-text,
#theme-toggle, #mobile-menu-button {
    transition: all 0.3s ease-in-out;
}
#header-nav.scrolled h2 {
    font-size: 1.25rem;
}
#header-nav.scrolled #desktop-nav a {
    font-size: 0.875rem;
}